/* #region Шрифт RostelecomBasis */
@font-face {
  font-family: "RostelecomBasis";
  src: url("../assets/fonts/RostelecomBasis-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RostelecomBasis";
  src: url("../assets/fonts/RostelecomBasis-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RostelecomBasis";
  src: url("../assets/fonts/RostelecomBasis-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RostelecomBasis";
  src: url("../assets/fonts/RostelecomBasis-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* #endregion */
